h1{
    text-align: center;
}

.container{
height: 800px;
width: 80vw;
margin:auto;
display: grid;
grid-template-columns: repeat(4 , 1fr);
border: 1px solid black;
}

.cards {
    width: 150px;
    height: 200px;
    border: 1px solid black;
    gap: 2px;
    margin: 32px;
    transform-style: preserve-3d;
    transition: all 0.5s linear;
    animation: iniciar 5s;
    
}




